/*--------------------------------------------------
BOOTSTRAP STYLES - You can modify these settings for your own theme.
---------------------------------------------------*/
.wmfaccordion-heading{border-bottom: 1px solid #b20000;}
a.wmfaccordion-toggle:hover:before{ color: #b20000; }
a.wmfaccordion-toggle:before{ color: #b20000; }
.wmfnav-tabs>li.active>a,.wmfnav-tabs>li.active>a:hover,.wmfnav-tabs>li.active>a:focus{ border-top: 1px solid #b20000; }
.wmfaccordion-heading{border-bottom:1px solid #b20000; background-color:#f7f7f7}
.wmfaccordion-heading{border-bottom:1px solid #b20000; background-color:#f7f7f7;}
.wmfnav-tabs{border-bottom:none;height: 38px;}
.wmfnav-tabs>li.active>a, .wmfnav-tabs>li.active>a:hover, .wmfnav-tabs>li.active>a:focus{border:none}
.wmfnav-tabs>li>a{background-color:#FAFAFA}
.wmfnav>li>a:hover, .wmfnav>li>a:focus{text-decoration:none; background-color:#eee}
.wmfnav-tabs>li.active>a, .wmfnav-tabs>li.active>a:hover, .wmfnav-tabs>li.active>a:focus{background-color:#f7f7f7; border-top:1px solid #b20000; border-bottom-color:transparent}
.wmfaccordion-heading .wmfaccordion-toggle{padding:1.4em; text-decoration:none;width:100%; display:block;}
.wmfaccordion-inner{padding:1em; background-color:#FCFCFC}
.wmfnav-tabs>li.active>a, .wmfnav-tabs>li.active>a:hover, .wmfnav-tabs>li.active>a:focus{border-top:1px solid #b20000}
.wmftab-content>.wmftab-pane, .pill-content>.pill-pane{background-color:#f7f7f7; padding:1em}
.collapsed[data-toggle="collapse"] i.icon-caret-up:before {content: '\f0d7';transition: width 2s;-webkit-transition: width 2s;}
.wmfaccordion-toggle i{margin-right: 4px;font-size: 14px;vertical-align: baseline;}
/*--------------------------------------------------
BOOTSTRAP STYLES END
---------------------------------------------------*/

/*--------------------------------------------------
RESPONSIVE VIDEO
---------------------------------------------------*/
.videoWrapper {
	position: relative;
	padding-bottom: 56.25%;
	padding-top: 25px;
	height: 0;
}
.videoWrapper iframe,
.videoWrapper object,
.videoWrapper embed {
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	height: 100%;
}
video {
  width: 100%    !important;
  height: auto   !important;
}
/*--------------------------------------------------
RESPONSIVE VIDEO END
---------------------------------------------------*/


/*--------------------------------------------------
MAIN COMPONENTS
---------------------------------------------------*/
.wmffrow {margin-bottom: 25px;}
h1{font-size:26px; line-height:26px; font-weight: normal;}
h2{font-size:22px; line-height:24px; font-weight: normal;}
h3{font-size:18px; line-height:20px; font-weight: normal;}
h4{font-size:14px; line-height:16px; font-weight: normal;}
h5{font-size:12px; line-height:16px; font-weight: normal;}
h6{font-size:10px; line-height:16px; font-weight: normal;}  
/*--------------------------------------------------
MAIN COMPONENTS END
---------------------------------------------------*/



/*--------------------------------------------------
TWITTER PAGE
---------------------------------------------------*/
#jstwitter{width:100%; font-size:12px; color:#333; margin-top:0px;margin-bottom: 30px;}
#jstwitter .tweet{opacity:1; margin-top:0px; margin-right:auto; padding-bottom:0px; margin-left:auto; padding-top:15px; padding-right:15px; padding-left:15px;background-color: #fafafa;border-bottom: 1px solid #fff;}
#jstwitter .tweet i{color:#3CF}
#jstwitter .tweet a{text-decoration:none; color:#036}
#jstwitter .tweet a:hover{text-decoration:underline}
#jstwitter .tweet .time{font-size:10px; font-style:italic; color:#666; margin-bottom:10px}
.dividertwitter{width:100%; height:2px}
.twfbtn {
position: relative;
background-color: #f8f8f8;
background-image: -webkit-gradient(linear,left top,left bottom,from(#fff),to(#dedede));
background-image: -moz-linear-gradient(top,#fff,#dedede);
background-image: -o-linear-gradient(top,#fff,#dedede);
background-image: -ms-linear-gradient(top,#fff,#dedede);
background-image: linear-gradient(top,#fff,#dedede);
border: #ccc solid 1px;
-moz-border-radius: 3px;
-webkit-border-radius: 3px;
border-radius: 3px;
color: #333;
font-weight: bold;
text-shadow: 0 1px 0 rgba(255,255,255,.5);
-webkit-user-select: none;
-moz-user-select: none;
-o-user-select: none;
user-select: none;
cursor: pointer;
height: 18px;
max-width: 98%;
overflow: hidden;
padding: 5px;
-moz-box-sizing: border-box;
-webkit-box-sizing: border-box;
-ms-box-sizing: border-box;
box-sizing: border-box;
height: 20px;
max-width: 100%;
}
/*--------------------------------------------------
TWITTER PAGE END
---------------------------------------------------*/


/*--------------------------------------------------
DROPCAP
---------------------------------------------------*/
.wmf_dropcap{width:50px; height:50px; margin:6px 10px 4px 0; float:left; text-align:center; font-size:36px; font-weight:bold; line-height:50px; box-shadow:0px 1px 0px #FFF; text-transform:uppercase; color:#fff; -webkit-box-sizing:content-box; -moz-box-sizing:content-box; box-sizing:content-box}
/*--------------------------------------------------
DROPCAP END
---------------------------------------------------*/


/*--------------------------------------------------
TEXT SEPERATOR
---------------------------------------------------*/
.wmf_separator{border-bottom:1px solid #efefef}
.wmf_separator{ margin-bottom:20px}
.wmf_separator{ position:relative;}
.wmf_separator div{ display:inline-block;  background-color:#fff;  padding:1px 12px;  position:relative;  top:10px}
.separator_center{ text-align:center}
.separator_left{ text-align:left} 
.separator_left div{padding-left:0px}
.separator_right{ text-align:right}
.separator_right div{padding-right:0px}
/*--------------------------------------------------
TEXT SEPERATOR END
---------------------------------------------------*/


/*--------------------------------------------------
SERVICES
---------------------------------------------------*/
.wmf_services_class{text-align:center; padding-top:0}
.wmf_services_class .wmf_icon_class{display:inline-block; width:100px; height:100px; -webkit-border-radius:50px; -moz-border-radius:50px; border-radius:50px; background:#b20000; position:relative; text-decoration:none}
.wmf_services_class .wmf_icon_class i{font-size:48px; color:#fff; line-height:100px; position:relative; top:0px}
.wmf_services_class:hover .wmf_icon_class{background:#fff}
.wmf_services_class:hover .wmf_icon_class i{color:#b20000}
.wmf_services_class .wmf_icon_class:hover:after{border-top:9px solid #b20000; transition:all 180ms ease-in; -webkit-transition:all 180ms ease-in}
.wmf_services_class p{margin-bottom:0px}
.wmf_services_class h3{margin-bottom:5px}
/*--------------------------------------------------
SERVICES END
---------------------------------------------------*/


/*------------------------------------*\
    RESPONSIVE
\*------------------------------------*/

@media only screen and (min-width:320px) {
	
	.wmf_services_class .wmf_icon_class{width:60px; height:60px;}
	.wmf_services_class .wmf_icon_class i{font-size:30px; color:#fff; line-height:65px; }
	.wmf_services_class h3 {margin-top: 10px;font-size: 16px;}

}
@media only screen and (min-width:480px) {
	
	.wmf_services_class .wmf_icon_class{width:60px; height:60px;}
	.wmf_services_class .wmf_icon_class i{font-size:30px; color:#fff; line-height:65px; }
	.wmf_services_class h3 {margin-top: 10px;font-size: 16px;}

}
@media only screen and (min-width:768px) {
	
	.wmf_services_class .wmf_icon_class{width:60px; height:60px;}
	.wmf_services_class .wmf_icon_class i{font-size:30px; color:#fff; line-height:65px; }
	.wmf_services_class h3 {margin-top: 10px;font-size: 16px;}

}

@media only screen and (min-width:1140px) {

}
@media only screen and (min-width:1280px) {

}
@media only screen and (-webkit-min-device-pixel-ratio:1.5),
	   only screen and (min-resolution:144dpi) {

}